.wrapper {
	display: flex;
	justify-content: center;
}

.wrapper__content {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 1024px) and (min-width: 426px) {
	.wrapper__content {
		width: 80vw;
	}
}

@media screen and (max-width: 425px) and (min-width: 0px) {
	.wrapper__content {
		width: 85vw;
	}
}